/* camel.css for camel project */
@import url('layout.css');
@import url('colours.css');
@import url('latextree.css');
@import url('latextreecolours.css');

/* text logo - mimics the latex logo */
.textlogo {
  font-family: Times, "Times New Roman", serif;	
  letter-spacing: 1.5px;
}

.textlogo sup {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.75em;
  vertical-align: 0.25em;
  margin-left: -0.32em;
  margin-right: -0.19em;
}

.textlogo sub {
  text-transform: uppercase;
  vertical-align: -0.5ex;
  margin-left: -0.15em;
  margin-right: -0.15em;
  font-size: 1em;
}
